.header-title{
    text-transform: capitalize;
    font-weight: bold;
    margin: 5px;
}
ul{
    display: flex;
    justify-content: start;
    gap: 20px;
    list-style: none;
}
ul li a{
    text-decoration: none;
}
.container{
    padding: 20px;
    margin: 20px;
    border: 1px solid #fafafa;
    box-shadow: 3px 4px 19px 4px rgba(0,0,0,0.37);
-webkit-box-shadow: 3px 4px 19px 4px rgba(0,0,0,0.37);
-moz-box-shadow: 3px 4px 19px 4px rgba(0,0,0,0.37);
}